<h2><%= link_to training.title, training_path(training) %></h2>

<li>
  <% if training.exercises.any? %>
      Exercises:
      <ul>
        <% training.exercises.each do |ex| %>
            <li>
              <%= ex.name %>, <%= ex.series %>, <%= ex.repetitions %>
            </li>
        <% end %>
      </ul>
  <% end %>
</li>


<p><%= truncate(training.body, length: 150) %></p>

<p><%= link_to 'Edit', edit_training_path(training) %></p>
<hr>