<h2><%= link_to training.title, training_path(training) %></h2>

<% if training.image? %>
    <%= image_tag training.image.thumb.url %>
<% end %>

<li class="table-bordered">
  <% if training.exercises.any? %>
      Exercises:
      <ul >
        <% training.exercises.each do |ex| %>
            <li>
              <%= ex.name %>, <%= ex.series %>, <%= ex.repetitions %>
            </li>
        <% end %>
      </ul>
  <% end %>
</li>



<p><%= truncate(training.body, length: 150) %></p>

<p><%= link_to 'Edit', edit_training_path(training), class: 'btn-link' %></p>
<hr>